@using WeatherForecastSample.Shared
@page "/fetchdata"
@using Blazor.Fluxor
@using Store.FetchData
@using Store.FetchData.Actions
@inject IStore Store
@inject IFeature<FetchDataState> Feature

<h1>Weather forecast</h1>

@if (Feature.State.ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@Feature.State.ErrorMessage</p>
}

<p>This page <strong>has</strong> been Fluxorized</p>

<p>This component demonstrates fetching data from the server.</p>

@if (Feature.State.IsLoading)
{
    <p><strong>There is a 2 second delay on the server just so you can see this loading message!</strong></p>
}
@if (Feature.State.Forecasts != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Feature.State.Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@functions {
protected override async Task OnInitAsync()
{
    await Store.Dispatch(new GetForecastDataAction());
}
}
